.episode {
  text-transform: uppercase;
  font-weight: 900;
  margin-right: 20px;
  font-size: 30px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to bottom, rgb(0, 255, 55), rgb(0, 23, 97));
}
.title {
  font-weight: 700;
  font-size: 30px;
}
a {
  text-decoration: none;
  color: black;
}
p {
  margin: 0;
}
.loadMoreEpisodes {
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(to bottom, #00ff37, #0f0e2c);
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}
