.content-section {
  width: 320px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1024px) {
    width: 1024px;
  }
  @media screen and (min-width: 1400px) {
    width: 1400px;
  }
}

.content-list {
  list-style: none;
  padding: 0;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1400px) {
    margin: 0;
  }
}

.content-item {
  position: relative;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  transition: all 250ms ease-in-out;
  margin-bottom: 25px;
  box-shadow: 1px 5px 24px -13px rgba(0, 0, 0, 0.2);
  &:hover {
    transform: scale(1.03, 1.03);
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    margin: 15px;
  }
  @media screen and (min-width: 1400px) {
    margin: 20px;
  }
  &:not(:last-child) {
    @media screen and (max-width: 320px) {
      margin-bottom: 0;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 35px;
    }
  }
}

ul {
  padding: 0;
  margin: 0;
}
